<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="Control.js"></script>
    <title>HRT ADD PATIENT PAGE</title>
</head>

<body class = "p-5">
   <div class="container">

   <div class=row>
       <!--<img  class="col p-3" src="logosmall.png" class="rounded-circle float-start" alt="Health Logo" class = "img-fluid"> --> 
        <h2 class="col lg 10 mt-1">Patient Generation Panel At HRT Surgical Center<samp id="view"></samp></h2> 
        <div class="container">
            <button type="button" class="btn btn-danger col sm 1 float-end p-1" onclick="exit()">Exit</button>
        </div>     
        
   </div>
    <form name="patient-form" id="patient-form" action="">
        <input type="hidden" id="id" name="id">
        <div class = "row p-3">
            <div class = "col">
                <label for="pname form-lable">Patient's Name: </label>
                <input type="text" class="form-control" placeholder="name" id="pname" name="pname">
            </div>
            <div class = "col">
                <label for="pstatus" class="form-label">Select Status:</label>
                <select class="form-select" id="pstatus" name="pstatus">
                   <option class="floating-lable">Surgery Status</option> 
                  <option value="Pre-Opp">Pre-Opp</option>
                  <option value="Intra-Opp">Intra-Opp</option>
                  <option value="Recovery">Recovery</option>
                  <option value="Transfered">Transfered</option>
                  <option value ="Discharged">Discharged</option>
                </select>
                            
            </div>
            <div class = "col">
                <label for="location" class="form-label">Select Patients Location:</label>
                <select class="form-select" id="location" placeholder="Patient's Location" name="plocation">
                  <option>Pre opp room</option>
                  <option>Theather 1</option>
                  <option>Theather 2</option>
                  <option>Theather 3</option>
                  <option>Theather 4</option>
                  <option>Ward 1 </option>
                  <option>Ward 2 </option>
                  <option>Ward 3 </option>
                  <option>Ward 4 </option>
                </select>
            
                
            </div>
        </div>
        <div class = "row p-3">
            <div class = "col">
                <label for="pst">Proposed Start Time: </label>
                <input type="time" class="form-control" id="pst" name="pst">
            </div>
            <div class = "col">
                <label for="ast">Actual Start Time: </label>
                <input type="time" class="form-control" id="ast" name="ast">
            </div>
            <div class = "col">
                <label for="endT">Surgery End Time: </label>
                <input type="time" class="form-control" id="endt" name="endT">
            </div>
            <div class = "col">
                <label for="exitT">Exit Time: </label>
                <input type="time" class="form-control" id="exitT" name="exitT">
            </div>
        </div>
        <div class="container">
            <button type="button" class="btn btn-secondary" onclick="clearInput()">NEW</button>
            <button type="button" class="btn btn-primary" onclick="savePatient()">SAVE</button>
            <button type="button" class="btn btn-danger" onclick="deletePatient()">DELETE</button>
            <button type="button" class="btn btn-success" onclick="list(src = 'SurgeryList.html')">View Surgery List</button>
        </div>

        <table class="table table-hover  mt-3">
            <thead class="table-success">
              <tr>
                <th width= "40%"   >Patient's name</th>
                <th width= "30%" >Surgery Status</th>
                <th width= "30%" >Patient's Location</th>
                <th width= "10%" >Proposed Start Time</th>
                <th width= "10%">Actual Start Time</th>
                <th width= "10%">Surgery End Time</th>
                <th width= "10%">Exit Time</th>
                
              </tr>
            </thead>
            <tbody id="table-body" style="cursor: pointer;">
             
            </tbody>
          </table>

          <script type="text/javascript">
			var tabela = localStorage.getItem('table-body');
			document.getElementById("table-body").innerHTML = table;
		</script>

        </div>
    
</body>
</html>